/user/db.sqlite3
/venv/
/.vscode
/static
/static_files
/evgenius/interface/node_modules/
/evgenius/interface/build/
/evgenius/analytics/migrations/
/evgenius/users/migrations/
/evgenius/media/
/evgenius/media/dataset_images/
