.Wraper {
    display: flex;
    position: relative;
    width: 400px;
    height: 700px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
}

.Ul {
    display: inline-flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.LiItem {
    /* font-family: "Roboto"; */
    font-weight: 400;
    font-size: 20px;
}
