.Wraper {
    position: fixed;
    top: 0;
    height: 76px;
    width: 100%;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 999;
}

.Ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: fit-content;
    margin-right: 20px;
}

.LinkItem {
    color: #fff;
    text-decoration: none;
}

.LinkItem:hover {
    color: #adaaaa;
}

.LinkItemActive {
    color: rgb(129, 148, 199);
    text-decoration: none;
}
.logo {
    display: inline-block;
    margin-left: 20px;
}