.Wraper {
    position: relative;
    height: 76px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* .DrawerListWraper {
    display: flex;
    flex-direction: column;
    height: 91vh;
    overflow-y: auto;
} */

.Ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: fit-content;
    margin-right: 20px;
}

.LinkItem {
    /* font-size: 20px; */
    color: #fff;
    text-decoration: none;
}

.LinkItem:hover {
    color: #adaaaa;
}

.LinkItemActive {
    /* font-size: 20px; */
    color: rgb(129, 148, 199);
    text-decoration: none;
}
.logo {
    display: inline-block;
    margin-left: 20px;
}